/node_modules
/npm-debug.log

/test/assets/package-*/
/test/assets/temp-*/
/test/reports
/test/tmp/

/ano.json
/component.json
/ano_libraries
/test/sample
!/test/sample/ano.json
/npm-shrinkwrap.json
.idea
